@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import GraphTip
  @import backbutton
  @import IncidentList
.ig
  font-family 'Roboto', arial, helvetica, sans-serif
  .container
    position absolute
    top 0px
    left 0px
    width 1000px
    height 650px
    overflow hidden
  svg
    position absolute
    top 0px
    left 0px
    transition transform 0.6s
  svg.map
    z-index 1
    background lighten(ColorHeadingLink, 98.5%)
    .land
      fill white
      stroke lighten(desaturate(ColorHeadingLink, 90%), 80%)
      stroke-width 1
    .countries
      fill none
      stroke lighten(desaturate(ColorHeadingLink, 90%), 90%)
      stroke-width 1
    .airports-bg circle
      fill lighten(#a50f15, 90%)
    .airports circle
      stroke #a50f15
      fill transparent
    .airport-active
    .airport-selected
      fill ColorHeading
      &.disabled
        display none
    .airport-selected
      fill ColorHeadingLink
    .apt-link path
    .active-apt-link path
      stroke ColorHeading
      stroke-width 3
      fill none
    .active-apt-link path
      stroke ColorHeadingLink
    &.zoomed
      .land
      .countries
        stroke-width (1/8)
      .airports circle
        stroke-width (1/8)
      .apt-link path
      .active-apt-link path
        stroke-width (3/8)

  svg.voronoi
    z-index 3
    path
      fill transparent
      // stroke black
  .graph-tip
    z-index 2
    h2
      margin 0px
      font-size 18px
    h3
      margin 0px
      font-size 12px
      margin-bottom 4px
      font-weight normal
      color #666
    p
      margin 0px
      font-size 14px

